@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: 'Roboto', sans-serif;
    @apply min-w-full min-h-screen;
}

h1 {
    font-family: charlemagne-std, serif;
    font-style: normal;
    font-weight: 500;
}
